{% include '_header.twig' %}

    <div id="site">
        <div class="home-postex animated fadeInUp" id="postex">

            <article id="post" role="main">

                <header class="entry-title">
                    <h2>{{ record.title }}</h2>
                    <p class="article-date">{{ record.datepublish|localdate("%A %B %e, %Y") }}</p>
                </header>

                {{ record.body }}

                {% if Disqus is defined %}
                    <h4>Leave a comment</h4>
                    {{ Disqus.disqus() }}
                    <hr>
                {% endif %}

            </article>

    </div>

{% include '_footer.twig' %}
